---
title: v0.1 (Abbott Miller)
---

<header>
	<h1>Abbott Miller</h1>
</header>

<div id="intro" class="content-block"></div>

<div id="summary" class="content-block">
	<h3>Abbott Miller</h3>
	<ul>
		<li><span>Designer</span> <span>at Pentagram</span></li>
		<li><span>Curator</span> <span>of [TODO] exhibits</span></li>
		<li><span>Educator</span> <span>of graphic design at <abbr title="Maryland Institute College of Art">MICA</abbr></span></li>
		<li><span>Editor</span> <span>for the 2wice Arts Foundation</span></li>
		<li><span>Art Director</span> <span>of the 2wice biannual publication</span></li>
		<li><span>Writer</span> <span>of <em>Design Writing Research</em></span></li>
		<li><span>Husband</span> <span>to design educator Ellen Lupton</span></li>
	</ul>
</div>

<div id="abbott-and-ellen" class="content-block">
	<%= image_tag "abbott-and-ellen.jpg" %>
	<blockquote>
		<p>Lupton and Miller are to graphic design what Charles and Ray Eames were to industrial design—except that what Lupton and Miller accomplish as a team is matched, if not surpassed, by what they accomplish as individuals.</p>
		<cite>
			<a href="http://www.dwell.com/profiles/article/j-abbott-miller-and-ellen-lupton">Shonquis Moreno for <em>Dwell</em></a>
			</cite>
	</blockquote>
</div>

<div id="abbott-and-ellen-2" class="content-block">
	<div class="abbott">
		<%= image_tag "http://placehold.it/400x400" %>
		<blockquote>
			<p>Abbott’s work is smart, beautiful, and sophisticated. It’s highly controlled yet poetic and surprising&hellip;I look to Abbott (when I’m brave enough) to make sure my stuff isn’t too crude and obvious. He is the master of intelligent details.  </p>
			<cite>
				<a href="http://www.printmag.com/article/design-couples-ellen-lupton-and-abbott-miller/">some attribution</a>
				</cite>
		</blockquote>
	</div>
	<div class="ellen">
		<%= image_tag "http://placehold.it/400x400" %>
		<blockquote>
			<p>Ellen influenced me from our very first design classes together at Cooper Union: she was always connecting design to language, culture, and humor, never accepting the constraints of design as a primarily visual or stylistic endeavor. I can remember most of the pieces she did in school because they pointed to an entirely different way of thinking.</p>
			<cite>
				<a href="http://www.printmag.com/article/design-couples-ellen-lupton-and-abbott-miller/">some attribution</a>
				</cite>
		</blockquote>
	</div>
</div>
<!-- 
<div id="design-writing-research" class="content-block">
</div> -->

<!-- We were really brainy designers, which wasn’t dominant at all at that time,” says Lupton. “We thought design was this incredible discovery as a field, and yet no one was making it interesting. There was so much work to be done.”

Miller is an aesthete without seeming precious and Lupton is a populist who can be intimidating.   “We complement each other,” says Miller, “and it’s been like that from the beginning.” -->

<!-- <div id="his work" class="content-block">
</div> -->
